$font-color: #fff
$header-background-color: #4997F0
$header-font-color: #fff
$header-font-color-hover: #555
$link-font-color: #cccccc
$link-font-color-hover: #4997F0
$main-background-color: #202B48
$no-torrent-font-color: #a94442

body
  margin: 0
  font-family: 'Droid Sans', sans-serif
  font-size: 14px
  line-height: 20px
  color: $font-color
  background-color: $main-background-color
  overflow-x: hidden

a
  color: $link-font-color
  &:active, &:focus
    text-decoration: none
    color: $link-font-color
  &:hover
    color: $link-font-color-hover
    text-decoration: none

.container-fluid
  height: 100px
.main-container
  margin: 10px


.panel
  background: none
  box-shadow: none
.panel-default
  border: none

.navbar-brand
  height: 75px
  img
    border-radius: 50%
    border: 5px solid #fff
    &:hover
      border: 5px solid $header-font-color-hover
.panel-title
  text-align: center

//override bootstrap
.navbar-default
  color: $header-font-color
  background-color: $header-background-color
  border: none

.navbar
  border: none
  border-radius: 0

.navbar-brand
  padding: 10px 15px

.navbar-default .navbar-nav>li>a
  color: $header-font-color
  font-size: 18px

.navbar-default .navbar-brand
  color: $header-font-color

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
  color: $header-font-color-hover
  background: none

.navbar .nav > li
  margin: 22px 30px

.navbar-toggle.collapsed
  margin: 31px 30px

table.table tbody tr
  &:hover
    background-color: lighten($main-background-color, 10)
  &.firstep
    background-color: #ccff90
  &.lastep
    background-color: #ff7997

.panel.panel-default
  &.firstep
    background-color: #ccff90
  &.lastep
    background-color: #ff7997

.torrent-list
  width: 100%
  height: 100%
  position: absolute
  top: 100px
  right: 0
  bottom: 0
  left: 0
  z-index: 0

.site-wrap
  min-height: 100%
  min-width: 100%
  position: relative
  top: 0
  bottom: 100%
  left: 0
  z-index: 1
  transition: left 0.5s

.serie-selected.site-wrap
  left: 110%

.no-torrent
  text-align: center
  color: $no-torrent-font-color

.day-controls
  text-align: center
  padding: 10px

#today
  padding-left: 10px
  padding-right: 10px