<div class="site-wrap"  ng-show="!errorOnCall">
    <div class="day-controls">
        <button class="btn btn-custom" ng-click="previousDay()">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <strong>back</strong></button>
        <span id="today"></span>
        <button class="btn btn-custom" ng-click="nextDay()">
            <strong>next</strong>
            <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
    </div>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default {{serie.className}}" ng-repeat="serie in seriesList" ng-class-even="'panel-default-even'" ng-class-odd="'panel-default-odd'">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{serie.serieId}}"
               aria-expanded="false" aria-controls="collapse{{serie.serieId}}">
                <div class="panel-heading" role="tab" id="heading{{serie.serieId}}"  ng-click="getTorrents(serie)">
                    <h4 class="panel-title">
                        {{serie.serie}}
                    </h4>
                    <h5 class="panel-title">
                        {{serie.episode}}
                    </h5>
                </div>
            </a>

            <div id="collapse{{serie.serieId}}" class="panel-collapse collapse" role="tabpanel"
                 aria-labelledby="heading{{serie.serieId}}">
                <div class="panel-body">
                    <div ng-if="torrentList.length == 0">
                        <p class="no-torrent">loading torrents....</p>
                    </div>
                    <table class="table" ng-if="serieSelected == serie && torrentList.length > 0">
                        <thead>
                        <tr>
                            <th>torrent</th>
                            <th>seeds</th>
                            <th>leeds</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="torrent in torrentList">
                            <td>
                                <div><a href="{{torrent.link}}">{{torrent.name}}</a></div>
                                <div>{{torrent.desc}}</div>
                            </td>
                            <td>{{torrent.seeds}}</td>
                            <td>{{torrent.leeds}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<div ng-show="errorOnCall">
    <div class="site-wrap">
        <h2>Can't load the TV Calendar!</h2>
        <p>As this is calling an outside site, use an extension like <a
                href="https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi/support">CORS</a>
            to enable cross-site calls.
        </p>
        <div class="bg-danger text-danger"><h1 style="font-weight: bolder">Security risk!!!</h1>
            <p>enabling CORS on your browser is a potential risk! Please disable it if after using this site</p>
        </div>

    </div>
</div>
